/* ==========================================================================
   Root Application Window
   ========================================================================== */

.root {
    /* Create a looked-up color called "main-color" within root. */
    main-color: rgb(237, 255, 242);
    -fx-background-color: radial-gradient(radius 100%, red, yellow, blue);
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 400px 600px;
    -fx-background-repeat: repeat;
}

/* ==========================================================================
   Input Controls
   ========================================================================== */

.text-field {
    -fx-background-color: #d9ffe2;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: mediumspringgreen;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: cyan;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: orange;
    -fx-font-size: 19px;
}

/* ==========================================================================
   Scroll Pane & Scroll Bar
   ========================================================================== */

.scroll-pane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}